
* {
    box-sizing: border-box;
}



main {
    flex: 1; /* takes up all available space */
}

html,body {
    margin: 0;
    padding: 0;
    font-style: "Inter", sans-serif !important;
     min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #FFF7ED;
}
header{
    display: flex;
    background-color: #FFF7ED;
    padding: 40px 20px;
    width: auto;
    align-items: center;
}
.logo {
    height: 30px;
    width: 100px;
    margin-right: 220px;
}
nav {
     display: flex;
    flex-direction: row;
    gap: 20px;
}
nav > a{
    text-decoration: none;
    color: #4D4D4D;
}
nav > a:hover{
    text-decoration: underline;
}

footer{
    background-color: #252525;
    color: #AAAAAA;
    padding: 30px;
}
a.active-link {
        font-weight: bold;
         text-decoration: underline ;
          color: #161616 !important;
}
.home > *:first-child {
    margin-top: 0;
}
.home {
    background-image: url('./assets/images/home-bg.png');
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    height: 74.1vh;
    justify-items: center;
    text-align: center;
}
.home h3 {
    font-size: 36px;
    font-weight: 800;
    color: #FFFFFF;
    padding: 70px 0px 0px 0px;
    max-width: 450px;
}
.home p{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    max-width: 450px;
}
.home button {
 background-color:#FF8C38 ;
 color: #FFFFFF;
 height: 50px;
 width: 490px;
 border-radius: 5px;
 margin-top: 50px;
 font-style: Bold;
 font-weight: 700;
 font-size: 16px;
 border: none;
}
/* ABOUT CSS */

.about img{
    height: 233px;
    width: 100%;
}

.about{
    justify-items: center;
}
.about h3 {
    font-size: 32px;
    font-weight: 700;
    font-style: bold;
    max-width: 494px;
}
.about p{
    max-width: 494px;
    font-size: 16px;
    font-weight: 500;
    font-style: bold;
}

.about section {
    background-color: #FFCC8D;
    width: 90%;
    border-radius: 5px;
    margin-bottom: 40px;
}
.about section p {
    font-size: 24px !important;
    font-weight: 700;
    margin: 5px;
    max-width: 420px;
    margin: 0px 0px  0px 40px !important;
}
.text {
    padding-top: 20px;
}
.link-button {
    margin-left: 40px;
    background-color: #161616;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 174px;
    height: 49px;
    border-radius: 10px;
    margin-top: 30px;
}

/* VANDETAIL CSS */
.van-detail-container {
    padding: 27px;
}

.van-detail-container .back-button {
    color: black;
    text-decoration: none;
}

/* .van-detail-container .back-button:visited {
    
} */

.van-detail-container.back-button span {
    text-decoration: underline;
    color: #201F1D;
}

.van-detail {
    display: flex;
    flex-direction: column;
    color: #161616;
}

.van-detail img {
    border-radius: 5px;
    margin-block: 47px;
}

.van-detail h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.van-detail > i {
    align-self: flex-start;
}

.van-detail .van-price {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.van-detail .van-price span {
    font-weight: 700;
    font-size: 1.5rem;
}

.van-detail .link-button {
    background-color: #FF8C38;
    color: white;
    font-size: 1.125rem;
}
/* VANS CSS */
.van-list-container {
    padding-inline: 23px
}

.van-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 34px;
    margin-top: 57px;
}
.van-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.van-tile a {
    color: #161616;
    text-decoration: none;    
}

.van-tile img {
    width: 100%;
    max-width: 200px;
    border-radius: 5px;
}

.van-list-container button {
    margin-right: 20px;
    cursor: pointer;
}

.van-type {
    height: 34px;
    padding: 6px 26px;
    font-style: normal;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    background-color: #FFEAD0;
    color: #4D4D4D;
    transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.van-type:hover {
    color: #FFEAD0;
}

.van-type:focus {
    outline: none;
}

.van-type.selected {
    color: #FFEAD0;
}

.van-type.simple:hover, .van-type.simple.selected {
    background-color: #E17654;
}

.van-type.rugged:hover, .van-type.rugged.selected {
    background-color: #115E59;
}

.van-type.luxury:hover, .van-type.luxury.selected {
    background-color: #161616;
}

.van-type.clear-filters {
    margin-left: -20px;
    height: 34px;
    padding: 6px 26px;
    font-style: normal;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    text-decoration: underline;
    background-color: transparent;
    color: #4D4D4D;
}

i[class*='van-type-'] {
    padding: 7px 14px;
}
/* host layout css */

.host-nav {
    display: flex;
}

.host-nav a {
    text-decoration: none;
    color: #4D4D4D;
    font-weight: 500;
    padding: 5px 20px;
}

.host-nav a:hover {
    color: #161616;
    text-decoration: underline;
    font-weight: 600;
}

/* HOST VAN */

.host-van-link-wrapper {
    color: unset;
    text-decoration: unset;
}

.host-vans-list {
    padding-inline: 26px;
    min-height: 54vh; 
}

.host-vans-title {
    padding-inline:  26px;
}

.host-van-single {
    display: flex;
    align-items: center;
    background-color: white;
    margin-bottom: 15px;
    padding-block: 18px;
    padding-left: 24px;
}

.host-van-single > img {
    height: 70px;
    border-radius: 5px;
    margin-right: 17px;
}

.host-van-info h3 {
    font-size: 20px;
    font-weight: 600;
    margin-block: 10px;
}

.host-van-info p {
    margin-block: 10px;
}
/* HOST VAN DETAIL  */
.host-van-detail-layout-container {
    background-color: white;
    padding: 24px;
    margin: 30px 26px;
}

.host-van-detail {
    display: flex;
    align-items: center;
}

.host-van-detail > img {
    height: 160px;
    border-radius: 5px;
    margin-right: 20px;
}

.host-van-detail-info-text > h3 {
    margin-top: 24px;
    margin-bottom: 5px;
    font-size: 26px;
    font-weight: 700;
}

.host-van-detail-info-text > h4 {
    font-size: 20px;
    margin-block: 0;
}

.host-van-detail-nav {
    display: flex;
    margin-block: 25px;
}

.host-van-detail-nav a {
    text-decoration: none;
    color: #4D4D4D;
    font-weight: 500;
    padding: 5px 20px;
}

.host-van-detail-nav a:first-of-type {
    text-decoration: none;
    color: #4D4D4D;
    font-weight: 500;
    padding: 5px 15px;
    margin-left: -15px;
}

.host-van-detail-nav a:hover {
    color: #161616;
    text-decoration: underline;
    font-weight: 700;
}

.host-van-detail-info > h4 {
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
}
.host-van-detail-info > h4 > span {
    font-weight: 500;
}

.host-van-price {
    font-size: 24px;
    font-weight: 500;
}

.host-van-price > span {
    font-size: 16px;
    color: #4D4D4D;
}

.host-van-detail-image {
    height: 100px;
    border-radius: 5px;
}